= stylesheet_link_tag 'users', media: 'all', |
      'data-turbolinks-track': 'reload'    

.signup_container
  - provide(:title, 'Sign up')
  .signup_box 
    %h1 Sign up
    - flash.each do |message_type, message|
      %div{class: "alert alert-#{message_type}"}= message
    = form_with(model: @user, local: true) do |f|
      = render 'shared/user_error_messages'
      = f.label :username
      = f.text_field :username, class: 'form-control', placeholder: 'Enter your username'
      = f.label :email
      = f.email_field :email, class: 'form-control', placeholder: 'Enter your email'
      = f.label :password
      = f.password_field :password, class: 'form-control', placeholder: 'Enter your password'
      = f.label :password_confirmation, "Password Confirmation"
      = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter your password'
      = f.submit "Create my account", class: "btn btn-primary"